# List

Lists are mutable, and their elements are
usually homogeneous and are accessed by iterating over the list.

In [10]:
list=[1,2,3,4]

In [11]:
list

[1, 2, 3, 4]

In [12]:
list.append('22')

In [13]:
list

[1, 2, 3, 4, '22']

In [14]:
list[0]

1

In [15]:
list[:]

[1, 2, 3, 4, '22']

In [16]:
list*2

[1, 2, 3, 4, '22', 1, 2, 3, 4, '22']

In [17]:
list+['a','b']

[1, 2, 3, 4, '22', 'a', 'b']

In [19]:
list[0]=['2']

In [20]:
list

[['2'], 2, 3, 4, '22']

# Dictionary

In [5]:
d={'key1':'120','key2':'130'}

In [7]:
d['key1']

'120'

In [8]:
d1={1:120,2:130}

In [11]:
d1[1]

120

In [13]:
list = list(d1)

In [14]:
list

[1, 2]

In [16]:
sorted(d)

['key1', 'key2']

In [18]:
'key3' in d

False

In [19]:
dict2 = dict()

In [20]:
dict2

{}

In [21]:
dict2=dict({1:120})

In [22]:
dict2

{1: 120}

In [25]:
dict2 = dict({(1,120)})

In [26]:
dict2

{1: 120}

In [28]:
for a,b in dict2.items():
    print(a,'=',b)

1 = 120

# Enumerate

In [39]:
enu= enumerate(['a','b'])

In [41]:
enu

In [36]:
enu= ['a','b']

In [37]:
enu[0]

'a'

# tuple

Tuples
are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking

In [1]:
t=1,2,3

In [2]:
t[0]

1

In [3]:
t=1,'2'

In [4]:
t[1]

'2'

In [5]:
#nested tuple
nt= t, '3'

In [6]:
nt[0]

(1, '2')

In [7]:
nt

((1, '2'), '3')

In [8]:
#error
nt=[0]=0

SyntaxError: cannot assign to literal (<ipython-input-8-7929574cb187>, line 2)

# Sets

Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include
membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union,
intersection, difference, and symmetric difference.

In [21]:
a=set('testtest')

In [22]:
a

{'e', 's', 't'}

In [26]:
b=set({'a','b'})

In [27]:
b

{'a', 'b'}

In [28]:
a|b

{'a', 'b', 'e', 's', 't'}

In [29]:
a-b

{'e', 's', 't'}

In [30]:
a&b

set()

In [31]:
c=a&b

In [32]:
c

set()